@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  cursor: crosshair;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Press Start 2P", system-ui;
}

/* /////menu///// */

#fps-display {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.212);
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  border: solid black 1px;
}

#music {
  opacity: 0;
  position: absolute;
}

#fail-screen {
  background-color: rgba(22, 22, 22, 0.61);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;

  z-index: -999;
}

#menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
  border: 10px solid #f5f5dc;
  padding: 20px;
  background-color: #e8d0d0;
  border-radius: 10px;
  transition: opacity 0.5s steps(5), background-color 0.5s step-end,
    border 0.5s step-end;
}

.flip {
  animation: flip 1s ease-in-out forwards;
}

@keyframes flip {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotateY(90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
}

.dark-mode #menu {
  border: 10px solid #222221;
  background-color: #422828;
  transition: opacity 0.5s steps(5), background-color 0.5s step-end,
    border 0.5s step-end;
}

#logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  /* Espacement entre le logo et les boutons */
}

.button {
  display: block;
  /* Assure que les boutons apparaissent sur une nouvelle ligne */
  width: 200px;
  /* Ajustez la largeur des boutons selon vos besoins */
  padding: 10px;
  margin: 10px auto;
  /* Centre les boutons horizontalement */
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  font-family: "Press Start 2P", system-ui;
  transition: background-color 0.9s ease-in-out; /* Ajoutez une transition pour le changement de couleur de fond */
}

.dark-mode .button {
  background-color: #6b387e;
}
.button:hover {
  background-color: #45a049;
}
.dark-mode .button:hover {
  background-color: #6b385e;
}

#score-form {
  margin-top: 20px;
}

#pseudo-input,
#best-score {
  width: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.score {
  margin: 30px;
  right: 0;
  position: absolute;
  text-align: center;
  color: #ede0d4;
  font-size: 50px;
}

/* /////////dark-mode-btn/////// */

.night-mode-btn {
  top: 10px;
  left: 10px;
  height: 30px;
  width: 50px;
  background-color: #0cecfc;
  z-index: 999;
  position: fixed;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 25px;
  transition: 0.5s all ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.185);
  overflow: hidden;
}

.stars-btn {
  transform: translateY(-5px);
}

.star {
  height: 3px;
  width: 3px;
  background-color: rgb(255, 253, 109);
  margin-top: 5px;
  margin-left: 3px;
  rotate: 45deg;
}

.star:nth-child(1) {
  translate: 4px 3px;
  animation: star 4s 1s ease-in-out infinite alternate;
}

.star:nth-child(2) {
  animation: star 5s ease-in-out infinite;
  translate: -2px;
}

.star:nth-child(3) {
  translate: 4px -2px;
  animation: star 4.5s ease-in-out infinite reverse;
}

@keyframes star {
  0% {
    transform: scale(100%) translate(0px, 0px);
  }

  25% {
    transform: scale(120%) translate(2px, 3px);
  }

  75% {
    transform: scale(80%) translate(-3px, 1px);
  }

  100% {
    transform: scale(100%) translate(0px, 0px);
  }
}

.cloud-btn {
  translate: 5px;
  width: 36px;
  height: 26px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.cloud-btn2 {
  translate: 0px 5px;
  background-size: 100%;
  height: 100px;
  width: 230px;
  background-image: url("media/cloud.png");
  background-repeat: no-repeat;
  animation: minicloud 6s linear infinite;
}

.cloud-btn2:nth-child(2) {
  translate: -3px 15px;
  animation: minicloud 4s linear infinite;
}

@keyframes minicloud {
  0% {
    transform: translateX(38px);
  }

  100% {
    transform: translateX(-18px);
  }
}

.minidirt {
  z-index: 10;
  position: absolute;
  height: 1px;
  width: 60px;
  bottom: 0px;
  left: 0px;
  background-color: #887000;
  border-top: #45a049 dashed 1px;
  animation: miniDirtScroll 2s linear infinite;
  transition: background-color 1s ease-in-out, border-top 1s ease-in-out;
}

.dark-mode .minidirt {
  background-color: #3e1e88;
  border-top: #4e0097 dashed 1px;
}

@keyframes miniDirtScroll {
  0% {
    translate: 0px;
  }

  100% {
    translate: -10px;
  }
}

.moon {
  left: 1px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #ffd60a;
  z-index: 999;
  position: absolute;
  border: none;
  pointer-events: none;
  transition: 0.5s all ease-in-out;
}

/* /////////background///////// */

.divbackground {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  pointer-events: none;
}

.grass {
  height: 80vh;
  width: 7000px;
  background-repeat: repeat-x;
  background-image: url("media/grass.png");
  display: flex;
  background-position-y: 100%;
  animation: background-defilment 30s infinite linear;
  transition: background-image 1s ease-in-out;
}

.dark-mode .grass {
  background-image: url("media/grass_night.png");
  transition: background-image 1s ease-in-out;
}

.grass.paused {
  animation-play-state: paused;
}

.dirt {
  position: absolute;
  height: 20vh;
  width: 100vw;
  z-index: 0;
  background-color: #887000;
  bottom: 0;
  transition: background-color 1s ease-in-out;
}

.dark-mode .dirt {
  background-color: #102c51;
  transition: background-color 1s ease-in-out;
}

.trees {
  position: fixed;
  top: 80vh;
  translate: 0px -490px;
  display: flex;
}
.tree {
  height: 400px;
  width: 210px;
  background-image: url("media/tree.png");
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-image 1s ease-in-out;
}
.dark-mode .tree {
  background-image: url("media/tree_night.png");
  transition: background-image 1s ease-in-out;
}

.tree:nth-child(1) {
  margin-left: 700px;
}

.tree:nth-child(2) {
  margin-left: 1100px;
}

.tree:nth-child(3) {
  margin-left: 1000px;
}

.tree:nth-child(4) {
  margin-left: 1970px;
}

.bushes {
  position: fixed;
  top: 80vh;
  translate: 0px -220px;
  display: flex;
}

.bush {
  transition: background-image 1s ease-in-out;
  height: 123px;
  width: 100px;
  background-image: url("media/bush.png");
  background-repeat: no-repeat;
  margin-left: 300px;
}

.dark-mode .bush {
  background-image: url("media/bush_night.png");
  transition: background-image 1s ease-in-out;
}

.bush:nth-child(1) {
  margin-right: 350px;
}

.bush:nth-child(2) {
  margin-left: 970px;
}

.bush:nth-child(3) {
  margin-left: 600px;
}

.bush:nth-child(4) {
  margin-left: 1200px;
}

.bush:nth-child(5) {
  margin-left: 1180px;
}

.bush:nth-child(6) {
  margin-left: 1320px;
}

.sky {
  position: absolute;
  z-index: 0;
}

.mountain {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("media/mountain.png");
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.dark-mode .mountain {
  background-image: url("media/sky-transformed.jpg");
  transition: background-image 1s ease-in-out;
}

@keyframes background-defilment {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-4705px);
  }
}

.clouds {
  position: fixed;
  display: flex;
  animation: cloudscroll 40s linear infinite;
}

.cloud {
  height: 100px;
  width: 230px;
  background-image: url("media/cloud.png");
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
}

.dark-mode .cloud {
  background-image: url("media/cloud_night.png");
  transition: background-image 1s ease-in-out;
}

.cloud:nth-child(1) {
  margin-top: 5vh;
  margin-left: 1000px;
}

.cloud:nth-child(2) {
  margin-top: 22vh;
  margin-left: 1300px;
}

.cloud:nth-child(3) {
  margin-top: 5vh;
  margin-left: 1532px;
}

.clouds2 {
  position: fixed;
  display: flex;
  animation: cloudscroll 70s linear infinite;
}

.cloud2 {
  height: 88px;
  width: 230px;
  background-image: url("media/cloud.png");
  background-repeat: no-repeat;
  transform: scale(70%);
}

.dark-mode .cloud2 {
  background-image: url("media/cloud_night.png");
  transition: all 1s ease-in-out;
}

.cloud2:nth-child(1) {
  margin-top: 12vh;
  margin-left: -200px;
}

.cloud2:nth-child(2) {
  margin-left: 1890px;
  margin-top: 14vh;
}

@keyframes cloudscroll {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-3290px);
  }
}

.timediv {
  translate: -152px 0px;
  top: 100vh;
  position: fixed;
  transform: translateX(50vw);
  text-align: center;
  border: 10px solid #765440;
  padding: 20px;
  background-color: #ae8e74;
  border-radius: 10px;
  height: 50px;
  font-size: 50px;
  color: #ede0d4;
  transition: 1s ease-in-out translate;
  display: flex;
}

.timer-foot {
  position: absolute;
  margin-top: 70px;
  border: 10px solid #765440;
  height: 200px;
  width: 235px;
}

/* //////ducks////// */

.birds {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bird {
  min-width: 33px;
  min-height: 33px;
  background-image: url("media/duckSprite.png");
  background-size: 375px 257px;
  z-index: 10;
  margin-right: 150px;
  background-repeat: no-repeat;
  scale: 300%;
}

.flying-top {
  animation: flyTopAnimation 0.4s steps(1) infinite;
}

@keyframes flyTopAnimation {
  0% {
    background-position: -210px -190px;
  }

  25% {
    background-position: -170px -190px;
  }

  50% {
    background-position: -130px -190px;
  }

  75% {
    background-position: -170px -190px;
  }
}

.flying-right {
  animation: flyRightAnimation 0.4s steps(1) infinite;
}

@keyframes flyRightAnimation {
  0% {
    background-position: -210px -111px;
  }

  25% {
    background-position: -170px -111px;
  }

  50% {
    background-position: -130px -111px;
  }

  75% {
    background-position: -170px -111px;
  }
}

.flying-top-right {
  animation: flyTopRightAnimation 0.4s steps(1) infinite;
}

@keyframes flyTopRightAnimation {
  0% {
    background-position: -210px -150px;
  }

  25% {
    background-position: -170px -150px;
  }

  50% {
    background-position: -130px -150px;
  }

  75% {
    background-position: -170px -150px;
  }
}

.bird {
  min-width: 33px;
  min-height: 33px;
  position: absolute;
  background-image: url("media/duckSprite.png");
  background-size: 375px 257px;
  z-index: 0;
  background-repeat: no-repeat;
  scale: 200%;
  pointer-events: auto;
  pointer-events: auto;
}

#game-container {
  position: relative;
  width: 100vw;
  height: 69vh;
  overflow: hidden;
}

.flying-top.blue {
  animation: flyBlueTopAnimation 0.4s steps(1) infinite;
}

@keyframes flyBlueTopAnimation {
  0% {
    background-position: 0px -190px;
  }

  25% {
    background-position: -40px -190px;
  }

  50% {
    background-position: -80px -190px;
  }

  75% {
    background-position: -40px -190px;
  }
}

.flying-right.blue {
  animation: flyBlueRightAnimation 0.4s steps(1) infinite;
}

@keyframes flyBlueRightAnimation {
  0% {
    background-position: 0px -111px;
  }

  25% {
    background-position: -40px -111px;
  }

  50% {
    background-position: -80px -111px;
  }

  75% {
    background-position: -40px -111px;
  }
}

.flying-top-right.blue {
  animation: flyBlueTopRightAnimation 0.4s steps(1) infinite;
}

@keyframes flyBlueTopRightAnimation {
  0% {
    background-position: 0px -150px;
  }

  25% {
    background-position: -40px -150px;
  }

  50% {
    background-position: -80px -150px;
  }

  75% {
    background-position: -40px -150px;
  }
}

.flying-top.red {
  animation: flyRedTopAnimation 0.4s steps(1) infinite;
}

@keyframes flyRedTopAnimation {
  0% {
    background-position: -260px -190px;
  }

  25% {
    background-position: -300px -190px;
  }

  50% {
    background-position: -340px -190px;
  }

  75% {
    background-position: -300px -190px;
  }
}

.flying-right.red {
  animation: flyRedRightAnimation 0.4s steps(1) infinite;
}

@keyframes flyRedRightAnimation {
  0% {
    background-position: -260px -111px;
  }

  25% {
    background-position: -300px -111px;
  }

  50% {
    background-position: -340px -111px;
  }

  75% {
    background-position: -300px -111px;
  }
}

.flying-top-right.red {
  animation: flyRedTopRightAnimation 0.4s steps(1) infinite;
}

@keyframes flyRedTopRightAnimation {
  0% {
    background-position: -260px -150px;
  }

  25% {
    background-position: -300px -150px;
  }

  50% {
    background-position: -340px -150px;
  }

  75% {
    background-position: -300px -150px;
  }
}

.dead {
  animation: deadAnimation 0.4s steps(1) forwards,
    fallAnimation 2s 0.4s ease-in forwards;
  background-position: -170px -227px;
}

.dead.blue {
  animation: deadBlueAnimation 0.4s steps(1) forwards,
    fallAnimation 2s 0.4s ease-in forwards;
  background-position: -170px -227px;
}

.dead.red {
  animation: deadRedAnimation 0.4s steps(1) forwards,
    fallAnimation 2s 0.4s ease-in forwards;
  background-position: -170px -227px;
}

@keyframes deadAnimation {
  0% {
    background-position: -130px -227px;
  }

  100% {
    background-position: -170px -227px;
  }
}

@keyframes deadBlueAnimation {
  0% {
    background-position: 0px -227px;
  }

  100% {
    background-position: -40px -227px;
  }
}

@keyframes deadRedAnimation {
  0% {
    background-position: -260px -227px;
  }

  100% {
    background-position: -300px -227px;
  }
}

@keyframes fallAnimation {
  0% {
    transform: translateY(0vh);
  }

  100% {
    transform: translateY(100vh);
  }
}

/* /////chien/////// */

.dog {
  left: 1vw;
  height: 50px;
  width: 60px;
  background-image: url(/media/duckSprite.png);
  scale: 200%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 20vh;
  translate: 0 -140px;
  transition: 1s translate linear;
}

.dead-dog {
  animation: deadDog 1s ease-in-out forwards, blink 0.15s infinite step-end;
}

@keyframes deadDog {
  0% {
    translate: 0px -140px;
  }
  25% {
    translate: 0px -140px;
  }
  50% {
    translate: 0px -200px;
  }
  75% {
    translate: 0px -200px;
  }
  100% {
    translate: 0px -80px;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.counter-dog {
  left: 1vw;
  height: 50px;
  width: 60px;
  background-image: url(/media/duckSprite.png);
  scale: 200%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 20vh;
  translate: 0 -140px;
  z-index: -5;
}

.snif {
  animation: snifDog 0.5s steps(5) infinite;
}

.snif.paused {
  animation-play-state: paused;
}
@keyframes snifDog {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: -300px 0px;
  }
}

.find {
  animation: findAnimation 1s steps(2) forwards, fade 0s 1s step-end forwards;
}

@keyframes fade {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes findAnimation {
  0% {
    background-position: 0px -58px;
    transform: translate(0px, 0px);
  }

  25% {
    background-position: 0px -58px;
    transform: translate(0px, 0px);
  }

  50% {
    background-position: 0px -58px;
    transform: translate(0px, 0px);
  }

  75% {
    background-position: -120px -58px;
    transform: translate(20px, -20px);
  }

  100% {
    background-position: -120px -58px;
    transform: translate(40px, 20px);
  }
}

.laugh {
  animation: laughAnimation 0.4s steps(1) infinite;
}

@keyframes laughAnimation {
  0% {
    background-position: -180px -58px;
  }

  50% {
    background-position: -240px -58px;
  }

  100% {
    opacity: 0%;
  }
}

.one-duck {
  background-position: -320px 0px;
  animation: doubleDuck 4s ease-in-out forwards;
}

.double-duck {
  animation: doubleDuck 4s ease-in-out forwards;
  background-position: -320px -58px;
}

@keyframes doubleDuck {
  0% {
    transform: translateY(50px);
  }

  25% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(50px);
  }
}

/* Menu pause */
/*.bird.paused {
  animation-play-state: paused;
}*/
.clouds.paused,
.clouds2.paused {
  animation-play-state: paused;
}
.menu {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
}
.menu h2 {
  margin-bottom: 10px;
  font-size: 24px;
}
.menu p {
  margin: 0;
  font-size: 18px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0); /* Rouge avec une opacité de 0.7 */
  z-index: 998; /* Mettre en dessous du menu pause (z-index : 999) */
}
/* Menu diffuclty */
.difficulty {
  display: none;
  /* Autres styles... */
}

#fail-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff00; /* Couleur de fond rouge (vous pouvez ajuster) */
  color: #fff; /* Couleur du texte en blanc (vous pouvez ajuster) */
  font-size: 35px;
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999; /* Pour masquer le contenu sous le fond */
}

#fail-screen button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50; /* Couleur de fond verte (vous pouvez ajuster) */
  color: #fff; /* Couleur du texte en blanc (vous pouvez ajuster) */
  font-family: "Press Start 2P", system-ui;
  transition: background-color 0.3s ease-in-out; /* Transition de changement de couleur de fond */
}

#fail-screen button:hover {
  background-color: #45a049; /* Couleur de fond verte au survol (vous pouvez ajuster) */
}

#rankingContainer {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  display: none;
}
#rankingContainer h2 {
  font-size: 20px; /* Adjust the font size as needed */
  margin-bottom: 10px;
}
#rankingContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#rankingContainer li {
  font-size: 14px; /* Adjust the font size as needed */
  margin-bottom: 5px;
}

#score-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff00; /* Couleur de fond rouge (vous pouvez ajuster) */
  color: #fff; /* Couleur du texte en blanc (vous pouvez ajuster) */
  font-size: 35px;
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999; /* Pour masquer le contenu sous le fond */
}

#score-screen button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50; /* Couleur de fond verte (vous pouvez ajuster) */
  color: #fff; /* Couleur du texte en blanc (vous pouvez ajuster) */
  font-family: "Press Start 2P", system-ui;
  transition: background-color 0.3s ease-in-out; /* Transition de changement de couleur de fond */
}

#score-screen button:hover {
  background-color: #45a049; /* Couleur de fond verte au survol (vous pouvez ajuster) */
}

#pauseMenu button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #acacac; /* Couleur de fond verte (vous pouvez ajuster) */
  color: #fff; /* Couleur du texte en blanc (vous pouvez ajuster) */
  font-family: "Press Start 2P", system-ui;
  transition: background-color 0.3s ease-in-out; /* Transition de changement de couleur de fond */
}

#pauseMenu button:hover {
  background-color: #7a7c7a; /* Couleur de fond verte au survol (vous pouvez ajuster) */
}

/* Ajoutez ces styles à votre fichier CSS ou dans une balise style de votre fichier HTML */

.pagination {
  margin-top: 10px;
}

.pagination button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.pagination button:hover {
  background-color: #0056b3;
}
