

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.divbackground {
    position: absolute;
    height: 100vh;
    width: 100vw;
/*         z-index: 100; */
}

.grass {
    height: 80vh;
    width: 7000px;
    background-repeat: repeat-x;
    background-image: url('media/grass.png');
    display: flex;
    background-position-y: 100%;
    animation: background-defilment 15s infinite linear;
}

.dirt {
    position: absolute;
    height: 20vh;
    width: 100vw;
    z-index: 0;
    background-color: #887000;
    bottom: 0;
}

.trees {
    position: fixed;
    top: 80vh;
    translate: 0px -490px;
    display: flex;
}

.tree {
    height: 400px;
    width: 210px;
    background-image: url('media/tree.png');
    background-repeat: no-repeat;
}

.tree:nth-child(1) {
    margin-left: 700px;
}

.tree:nth-child(2) {
    margin-left: 1100px;
}

.tree:nth-child(3) {
    margin-left: 1000px;
}

.tree:nth-child(4) {
    margin-left: 1970px;
}






.bushes {
    position: fixed;
    top: 80vh;
    translate: 0px -220px;
    display: flex;
}

.bush {
    height: 123px;
    width: 100px;
    background-image: url('media/bush.png');
    background-repeat: no-repeat;
    margin-left: 300px;
}

.bush:nth-child(1) {
    margin-right: 350px;
}

.bush:nth-child(2) {
    margin-left: 970px;
}

.bush:nth-child(3) {
    margin-left: 600px;
}

.bush:nth-child(4) {
    margin-left: 1200px;
}

.bush:nth-child(5) {
    margin-left: 1180px;
}

.bush:nth-child(6) {
    margin-left: 1320px;
}

.sky {
    position: absolute;
    z-index: 0;
}

.mountain {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('media/mountain.png');
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes background-defilment {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-4705px);
    }
}

.clouds {
    position: fixed;
    display: flex;
    animation: cloudscroll 40s linear infinite;
}

.cloud {
    height: 100px;
    width: 230px;
    background-image: url('media/cloud.png');
    background-repeat: no-repeat;
}

.cloud:nth-child(1) {
    margin-top: 5vh;
    margin-left: 1000px;
}

.cloud:nth-child(2) {
    margin-top: 22vh;
    margin-left: 1300px;
}

.cloud:nth-child(3) {
    margin-top: 5vh;
    margin-left: 1532px;
}

.clouds2 {
    position: fixed;
    display: flex;
    animation: cloudscroll 70s linear infinite;
}

.cloud2 {
    height: 88px;
    width: 230px;
    background-image: url('media/cloud.png');
    background-repeat: no-repeat;
    transform: scale(70%);
}

.cloud2:nth-child(1) {
    margin-top: 12vh;
    margin-left: -200px;
}

.cloud2:nth-child(2) {
    margin-left: 1890px;
    margin-top: 14vh;
}

@keyframes cloudscroll {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-3290px);
    }
}

.birds {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bird {
    min-width: 33px;
    min-height: 33px;
    background-image: url("media/duckSprite.png");
    background-size: 375px 257px;
    z-index: 10;
    margin-right: 150px;
    background-repeat: no-repeat;
    scale: 300%;
}

.flying-top {
    animation: flyTopAnimation 0.4s steps(1) infinite;
}
.flying-bottom {
    animation: flyTopAnimation 0.4s steps(1) infinite;
    transform: scaleY(-1);
}

@keyframes flyTopAnimation {
    0% {
        background-position: -210px -190px;
    }
    25% {
        background-position: -170px -190px;
    }
    50% {
        background-position: -130px -190px;
    }
    75% {
        background-position: -170px -190px;
    }
}

.flying-right {
    animation: flyRightAnimation 0.4s steps(1) infinite;
}
.flying-left {
    animation: flyRightAnimation 0.4s steps(1) infinite;
    transform: scaleX(-1);
}

@keyframes flyRightAnimation {
    0% {
        background-position: -210px -111px;
    }
    25% {
        background-position: -170px -111px;
    }
    50% {
        background-position: -130px -111px;
    }
    75% {
        background-position: -170px -111px;
    }
}


.flying-top-right {
    animation: flyTopRightAnimation 0.4s steps(1) infinite;
}
.flying-top-left {
    animation: flyTopRightAnimation 0.4s steps(1) infinite;
    transform: scaleX(-1);
}

@keyframes flyTopRightAnimation {
    0% {
        background-position: -210px -150px;
    }
    25% {
        background-position: -170px -150px;
    }
    50% {
        background-position: -130px -150px;
    }
    75% {
        background-position: -170px -150px;
    }
}

.flying-bottom-right {
    animation: flyTopRightAnimation 0.4s steps(1) infinite;
    transform: rotate(90deg);
    
}
.flying-bottom-left {
    animation: flyTopRightAnimation 0.4s steps(1) infinite;
    transform: rotate(-90deg) scaleX(-1);
}

#bird {
    min-width: 33px;
    min-height: 33px;
    position: absolute;
    background-image: url("media/duckSprite.png");
    background-size: 375px 257px;
    z-index: 10;
    background-repeat: no-repeat;
    scale: 200%;
  }

  #game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
/*     background-color: red; */
    overflow: hidden;
  }